<div class="container clearfix">
    <div class="chat">
        <div class="chat-header clearfix">
            <div class="chat-about">
                <div class="chat-with">Group Chat ({{name}})</div>
            </div>
        </div>
        <!-- end chat-header -->

        <div class="chat-history" id="chatbox">
            <ul class="list-unstyled">
                <span ng-repeat="chat in allChats">
                    <li class="clearfix" ng-if="chat.user == name">
                        <div class="message-data align-right">
                            <span class="message-data-time">{{chat.createdAt | chatDate}}</span> &nbsp; &nbsp;
                            <span class="message-data-name">{{chat.user}}</span>
                            <i class="fa fa-circle me"></i>

                        </div>
                        <div class="message other-message float-right">
                            {{chat.text}}
                        </div>
                    </li>

                    <li ng-if="chat.user != name">
                        <div class="message-data">
                            <span class="message-data-name">
                                <i class="fa fa-circle online"></i> {{chat.user}}</span>
                            <span class="message-data-time">{{chat.createdAt | chatDate}}</span>
                        </div>
                        <div class="message my-message">
                            {{chat.text}}
                            <div class="bot response" ng-if="chat.botResponse.data">
                                I have found some {{chat.botResponse.data.type|correctPlace}} in {{chat.botResponse.data.city|mergeArrayToString}}
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Rating</th>
                                            <th>Link</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="somePlace in chat.botResponse.somePlaces">
                                            <td>
                                                {{somePlace.name}}</td>
                                            <td> {{somePlace.formatted_address}}</td>
                                            <td> {{somePlace.rating}}</td>
                                            <td>
                                                <button class="btn btn-sm btn-default" ng-click="goToLink(somePlace.place_id)">Link
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </li>
                </span>


                <!-- <li>
                    <div class="message-data">
                        <span class="message-data-name">
                            <i class="fa fa-circle online"></i> Vincent</span>
                        <span class="message-data-time">10:31 AM, Today</span>
                    </div>
                    <i class="fa fa-circle online"></i>
                    <i class="fa fa-circle online" style="color: #AED2A6"></i>
                    <i class="fa fa-circle online" style="color:#DAE9DA"></i>
                </li> -->

            </ul>
        </div>
        <!-- end chat-history -->

        <div class="chat-message clearfix">
            <form>
                <input type="text" class="form-control" placeholder="Type your message" ng-model="message.chatText">

                <!-- <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
                    <i class="fa fa-file-image-o"></i> -->


                <button type="submit" class="btn btn-custom" ng-click="sendMessage(message.chatText)">Send</button>
            </form>


        </div>
        <!-- end chat-message -->

    </div>
    <!-- end chat -->

</div>
<!-- end container -->

<button class="btn btn-custom pull-right" ng-click="clearMessage()">Clear Chat</button>